<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Worst Bus Delays</h2>
  <p>The table below shows the worst delay periods on the monitored bus routes.</p>            
  <table class="table table-striped table-dark table-sm">
    <thead>
      <tr>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Intensity</th>
        <th>Star Rating</th>
      </tr>
    </thead>
    <tbody>
{% for post in posts%}
  <tr>
  <td>{{post[0]}}<td>{{post[1]}}<td>{{post[2]}}<td>{{post[3]}}<td>{{post[4]}}<td>
    {% for stars in range(post[5])%}
      &#x2B50
    {% endfor %}
{% endfor %}
<tr>
<td>Holloway-Circus-inbound<td>Saturday, 24 Nov<td>11:19-21:27<td>10.1 hrs<td>2.8x<td>&#x1F622&#x1F622&#x1F622&#x1F622&#x1F622

<tr>
<td>Holloway-Circus-inbound<td>Saturday, 1 Dec<td>11:48-19:21<td>7.5 hrs<td>3.1x<td>&#x2B50&#x2B50&#x2B50&#x2B50&#x2B50
<tr>
<td>Holloway-Circus-inbound<td>Saturday, 17 Nov<td>14:34-20:26<td>5.9 hrs<td>3.0x<td>&#x2B50&#x2B50&#x2B50&#x2B50
</tbody>
</table>
</div>
</body>
</html>

